impact_climate_2003.tif
impact_climate_2004.tif
impact_climate_2005.tif
impact_climate_2006.tif
impact_climate_2007.tif
impact_climate_2008.tif
impact_climate_2009.tif
impact_climate_2010.tif
impact_climate_2011.tif
impact_climate_2012.tif
impact_climate_2013.tif
impact_fishing_2003.tif
impact_fishing_2004.tif
impact_fishing_2005.tif
impact_fishing_2006.tif
impact_fishing_2007.tif
impact_fishing_2008.tif
impact_fishing_2009.tif
impact_fishing_2010.tif
impact_fishing_2011.tif
impact_fishing_2012.tif
impact_fishing_2013.tif
impact_land-based_2003.tif
impact_land-based_2004.tif
impact_land-based_2005.tif
impact_land-based_2006.tif
impact_land-based_2007.tif
impact_land-based_2008.tif
impact_land-based_2009.tif
impact_land-based_2010.tif
impact_land-based_2011.tif
impact_land-based_2012.tif
impact_land-based_2013.tif
impact_ocean_2003.tif
impact_ocean_2004.tif
impact_ocean_2005.tif
impact_ocean_2006.tif
impact_ocean_2007.tif
impact_ocean_2008.tif
impact_ocean_2009.tif
impact_ocean_2010.tif
impact_ocean_2011.tif
impact_ocean_2012.tif
impact_ocean_2013.tif
