 .fa-globe-americas {
	 font-size: 20px;
	 padding-right: 30px;
}
 .fa-globe-africa {
	 font-size: 20px;
	 padding-right: 30px;
}
 .fa-globe-asia {
	 font-size: 20px;
	 padding-right: 30px;
}
 .fa-home {
	 font-size: 20px;
	 padding-right: 30px;
}
 .fa-chart-line {
	 font-size: 20px;
	 padding-right: 30px;
}
 .fa-fish {
	 font-size: 20px;
	 padding-right: 30px;
}
 .fa-ship {
	 font-size: 20px;
	 padding-right: 30px;
}
 .fa-question-circle {
	 font-size: 20px;
	 padding-right: 30px;
} 
 .tab-content {
	 padding-left: 20px;
	 padding-right: 30px;
}
/* active selected tab in the sidebarmenu */
 .main-sidebar .sidebar .sidebar-menu .active a {
	 background-color: #000;
}
/* body */
 .content-wrapper, .right-side {
	 background-color: #000;
	 color: #FFFFFF;
}
 .content {
	 background-color: #000;
}

/* table */
 #stressor_info {
   padding-left:60px !important;
 }

/* selected btn css */
.btn-group-toggle .btn:not(:disabled):not(.disabled).active, .btn-group-toggle .btn:not(:disabled):not(.disabled):active, .show>.btn.dropdown-toggle {
      color: #fff;
      background-color: #000;
      border-color: #fff;
      font-weight: bold;
}

/* non selected btn css */
.btn-group-toggle .btn {
  color: #fff;
  background-color: #000;
  border-color: #000;
  font-weight: bold;
}

.btn-group-toggle button:hover {
  background-color: #3C8DBC;
}

.radioGroupButtons {
  padding-top: 0px;
  padding-bottom: 0px;
}

.shiny-image-output {
  padding-bottom: 30px;
}

a {
  color: #fff;
}

#trend-help {
  padding-right: 10px !important;
}

.tippy-content {
  font-size: 14px;
}

/* credits */
.credits {
  padding-left: 10px;
}